{% extends "layouts/base.html" %}

{% block content %}

<div class="content-wrap">

            <!--
    Banner

    Additional classes:
        .small
        .xsmall
        .big
        .full
-->
    <section class="youplay-banner banner-top youplay-banner-parallax">

        {% include 'includes/main_banner.html' %}


        <div class="info">
            <div>
                <div class="container">

                        <div class="row"><div class="col-md-8">


                        <h1 class="h1">Fusion Games</h1>

        <p class="lead">
            Já imaginou, jogar uma partida de FIFA online e receber dinheiro por ter ganho a partida? Quem sabe, podendo, virar um profissional? <br>
            Na Fusion Games, você consegue! Crie ou Procure partidas, encontre seu adversário através da gametag, marque o horário da partida e nos envie print do resultado! <br>
            Ganhou? Já pode solicitar a retirada do seu dinheiro!
        </p>
        <br>
        <a class="btn btn-md active" data-toggle="modal" data-target="#nav-registration"><i class="fa fa-eye"></i>&nbsp; COMECE AGORA</a>


                        </div></div>

                </div>
            </div>
        </div>
    </section>
<!-- /Banner -->




    <!-- Features -->
    <section class="youplay-features container mt-60 mb-30">
        <div class="col-sm-4">
            <div class="feature angled-bg">
                <i class="fa fa-rss"></i>
                <h3>Ganhe Dinheiro</h3>

                <div>
                    Ganhe dinheiro a cada partida que você jogue!
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="feature angled-bg">
                <i class="fa fa-shopping-cart"></i>
                <h3>Segurança</h3>
                <div>
                    A Fusion Games, realiza todo o controle monetário das partidas, garantindo ao ganhador, a quantia pré estabelecida
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="feature angled-bg">
                <i class="fa fa-shopping-cart"></i>
                <h3>??</h3>
                <div>
                    Você realiza depósitos, joga e ganha partidas e pode solicitar de imediato a retirada do dinheiro que ganhou!
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="feature angled-bg">
                <i class="fa fa-users"></i>
                <h3>Social Network</h3>
                <div>
                    Plataforma 24 horas Online, jogue quando e onde quiser!
                </div>
            </div>
        </div>
    </section>
    <!-- /Features -->

    <!-- Demo -->
    <!-- <h2 class="text-center mt-60 fs-40" id="demo">Youplay Comes with 4 Demo</h2> -->
    <!--  <div class="container mt-60 mb-120">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row vertical-gutter">
                    <div class="col-sm-6">
                        <a href="dark-index.html" target="_blank"><img src="../static/assets/images/demo-dark.jpg" alt=""></a>
                        <h4 class="text-center mt-20">Dark <small>demo</small></h4>
                    </div>
                    <div class="col-sm-6">
                        <a href="shooter-index.html" target="_blank"><img src="../static/assets/images/demo-shooter.jpg" alt=""></a>
                        <h4 class="text-center mt-20">Shooter <small>demo</small></h4>
                    </div>
                    <div class="col-sm-6">
                        <a href="anime-index.html" target="_blank"><img src="../static/assets/images/demo-anime.jpg" alt=""></a>
                        <h4 class="text-center mt-20">Anime <small>demo</small></h4>
                    </div>
                    <div class="col-sm-6">
                        <a href="light-index.html" target="_blank"><img src="../static/assets/images/demo-light.jpg" alt=""></a>
                        <h4 class="text-center mt-20">Light <small>demo</small></h4>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- /Demo -->


    <!-- Realistic Battles -->
    <section class="youplay-banner youplay-banner-parallax big">
        <div class="image" data-speed="0.4">
            <img class="jarallax-img" src="../static/assets/images/main_image_more_3.jpg" alt="">
        </div>

        <div class="info">
            <div>
                <div class="container">
                    <h2 class="fs-40 mt-45">EM BREVE</h2>
                    <br>
                    <div class="youplay-features">
                        <div class="col-sm-4">
                            <div class="feature angled-bg">
                                <i class="fa fa-exclamation-triangle"></i>
                                <h3>Suporte Smartphone</h3>
                                <div>
                                    Você já pode acessar nossa plataforma, pelo navegador do seu celular mas, em breve
                                    teremos suporte nativo, através de aplicativo para seu celular, melhorando sua
                                    experiência em nossa plataforma.
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature angled-bg">
                                <i class="fa fa-clock"></i>
                                <h3>Streaming</h3>
                                <div>
                                    Integração com plataformas streaming, para transmissão de suas partidas, ou para
                                    que você acompanhe partidas de outros usuários da plataforma
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="feature angled-bg">
                                <i class="fa fa-paper-plane"></i>
                                <h3>Torneios</h3>
                                <div>
                                    Sistema de torneios, com transmissões das partidas, narradores e comentaristas,
                                    e premiações maiores!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Realistic Battles -->


    <!-- The True Emotions -->
    <section class="container mt-120">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="fs-40 mt-0">Possui Alguma dúvida e/ou sugestão? Entre em contato!</h2>
                <!-- Contact Form -->
                {% include 'includes/contact.html' %}
                <!-- /Contact Form -->
            </div>
        </div>
    </section>
    <!-- /The True Emotions -->


    <!-- Preorder -->
<!--    <section class="youplay-banner youplay-banner-parallax big mt-120">-->
<!--        <div class="image" data-speed="0.4">-->
<!--            <img class="jarallax-img" src="../static/assets/images/dark/game-bloodborne-1920x1151.jpg" alt="">-->
<!--        </div>-->

<!--        <div class="info container align-center">-->
<!--            <div>-->
<!--                <h2>Purchase Today for $23</h2>-->
<!--                <em class="date">If you interested in WordPress version, see it here - <a href="https://themeforest.net/item/youplay-gaming-wordpress-theme/11959042?ref=_nK">https://themeforest.net/item/youplay-gaming-wordpress-theme/11959042</a></em>-->

<!--                <br><br><br><br>-->
<!--                <a class="btn btn-lg" href="https://themeforest.net/item/youplay-game-template-based-on-bootstrap/11306207?ref=_nK">Purchase</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- /Preorder -->



    </div>
{% if msg != none %}
<script type="text/javascript">
$(window).on('load',function(){
    var delayMs = 500; // delay in milliseconds

    setTimeout(function(){
        $('#nav-registration').modal('show');
    }, delayMs);
});
</script>
{% endif %}
{% endblock content %}
