<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Fusion Games</title>

    <meta name="description" content="Fusion Games - Jogue partidas online e ganhe dinheiro!">
    <meta name="keywords" content="gaming, game, community, jogo, jogos, jogo online, fifa online, pes online, aposta, dinheiro">
    <meta name="author" content="nK">

    <link rel="icon" type="image/png" href="/../static/assets/images/dark/icon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- START: Styles -->

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/../static/assets/vendor/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Flickity -->
    <link rel="stylesheet" href="/../static/assets/vendor/flickity/dist/flickity.min.css" />

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/../static/assets/vendor/magnific-popup/dist/magnific-popup.css" />

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="/../static/assets/vendor/slider-revolution/css/settings.css">
    <link rel="stylesheet" href="/../static/assets/vendor/slider-revolution/css/layers.css">
    <link rel="stylesheet" href="/../static/assets/vendor/slider-revolution/css/navigation.css">

    <!-- Bootstrap Sweetalert -->
    <link rel="stylesheet" href="/../static/assets/vendor/bootstrap-sweetalert/dist/sweetalert.css" />

    <!-- Social Likes -->
    <link rel="stylesheet" href="/../static/assets/vendor/social-likes/dist/social-likes_flat.css" />

    <!-- FontAwesome -->
    <script defer src="/../static/assets/vendor/font-awesome/svg-with-js/js/fontawesome-all.min.js"></script>
    <script defer src="/../static/assets/vendor/font-awesome/svg-with-js/js/fa-v4-shims.min.js"></script>

    <!-- Youplay -->
    <link rel="stylesheet" href="/../static/assets/css/youplay.css">

    <!-- RTL (uncomment this to enable RTL support) -->
    <!-- <link rel="stylesheet" href="/../static/assets/css/youplay-rtl.min.css" /> -->

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/../static/assets/css/custom.css">

    <!-- END: Styles -->

    <!-- jQuery -->
    <script src="/../static/assets/vendor/jquery/dist/jquery.min.js"></script>

    <!-- Custom DatePicker -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

</head>