<!-- Banner -->

{% if current_nav_name == 'Perfil' %}
    <div class="image">
        <img src="/../static/assets/images/user_01.jpg" alt="">
    </div>
{% elif current_nav_name == 'Partidas' %}
    <div class="image">
        <img src="/../static/assets/images/matches_list.jpg" alt="">
    </div>
{% elif current_nav_name == 'Historico' %}
    <div class="image">
        <img src="/../static/assets/images/matchs_history.jpg" alt="">
    </div>
{% elif current_nav_name == 'Configuracoes' %}
    <div class="image">
        <img src="/../static/assets/images/config.jpg" alt="">
    </div>
{% elif current_nav_name == 'Carteira' %}
    <div class="image">
        <img src="/../static/assets/images/wallet.jpg" alt="">
    </div>
{% endif %}

<!-- /Banner -->
