{% extends 'layouts/user_base.html' %}

{% block content %}

    <div class="container youplay-content">

        <div class="row">
            <div class="col-md-9">

                <h3 class="mt-0 mb-20">{{request.user.first_name}}</h3>
                <table class="table table-bordered">
                    <tbody>
                     <tr>
                        <td style="width: 200px;"><p>Nome completo</p></td>
                        <td><p>{% if request.user.first_name == none %} {% else %}{{request.user.first_name}} {{request.user.last_name}}{% endif %}</p></td>
                    </tr>
                     <tr>
                        <td style="width: 200px;"><p>Nome de usuário</p></td>
                        <td><p>{% if request.user.username == none %} {% else %}{{request.user.username}}{% endif %}</p></td>
                    </tr>
                     <tr>
                        <td style="width: 200px;"><p>Email</p></td>
                        <td><p>{% if request.user.email == none %} {% else %}{{request.user.email}}{% endif %}</p></td>

                    <tr>
                        <td><p>WhatsApp</p></td>
                        <td><p>{% if request.user.profile.phone == none %} {% else %}{{request.user.profile.phone}}{% endif %}</p></td>
                    </tr>
                    <tr>
                        <td><p>Data Nascimento</p></td>
                        <td><p>{% if request.user.profile.birth_date == none %} {% else %}{{request.user.profile.birth_date}}{% endif %}</p></td>
                    </tr>
                    <tr>
                        <td style="width: 200px;"><p>Xbox GameTag</p></td>
                        <td><p>{% if request.user.profile.xbox_gametag == none %} {% else %}{{request.user.profile.xbox_gametag}}{% endif %}</p></td>
                    </tr>
                    <tr>
                        <td><p>PSN GameTag</p></td>
                        <td><p>{% if request.user.profile.psn_gametag == none %} {% else %}{{request.user.profile.psn_gametag}}{% endif %}</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Right Side -->
            <div class="col-md-3">
                <div class="side-block">
    <h4 class="block-title">About</h4>
    <div class="block-content">
        Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus, ubi tu non Virginiae ornare vel ipsum. Ut enim Albuquerque et ille eum iure hic, et ego ducam te ad iustitiam.
    </div>
</div>
<div class="side-block">
    <h4 class="block-title">Location</h4>
    <div class="block-content pt-5">
        <div class="responsive-embed responsive-embed-16x9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423284.59051352815!2d-118.41173249999999!3d34.0204989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sru!4v1430158354122" width="600" height="450"></iframe>
        </div>
    </div>
</div>
            </div>
            <!-- Right Side -->

        </div>

    </div>


{% endblock content %}


