
{% extends "../layouts/base.html" %}
{% block content %}


    <div class="content-wrap">
        
            <!--
    Banner

    Additional classes:
        .small
        .xsmall
        .big
        .full
-->
<section class="youplay-banner banner-top youplay-banner-parallax full">
    
        {% include '../includes/main_banner.html' %}
    

    <div class="info">
        <div>
            <div class="container">
                
                
                
                    
    <div class="youplay-login">
        <div class="youplay-form text-center">
             <h3>Redefinição de senha enviada</h3>

              <p>Nos te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email
                  fornecido. Você receberá a mensagem em breve.
                  Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está
                  cadastrado, e verifique sua pasta de spam.</p>
        </div>
    </div>

                
                
            </div>
        </div>
    </div>
</section>
<!-- /Banner -->

        

    </div>

{% endblock content %}