
{% extends "../layouts/base.html" %}
{% block title %}Password Reset forum{% endblock %}
{% block content %}


    <div class="content-wrap">
        
            <!--
    Banner

    Additional classes:
        .small
        .xsmall
        .big
        .full
-->
<section class="youplay-banner banner-top youplay-banner-parallax full">
    
        {% include '../includes/main_banner.html' %}
    

    <div class="info">
        <div>
            <div class="container">

    <div class="youplay-login">
        <div class="youplay-form text-center">
                <h3>Redefinição de senha completa</h3>
                <p>Você pode voltar e realizar o login! <a href="{% url 'home' %}">Voltar</a></p>
        </div>
    </div>
            </div>
        </div>
    </div>
</section>
<!-- /Banner -->

        

    </div>

{% endblock content %}