{% extends 'layouts/base.html' %}
{% block content %}


    <div class="content-wrap">
        
            <!--
    Banner

    Additional classes:
        .small
        .xsmall
        .big
        .full
-->
<section class="youplay-banner banner-top youplay-banner-parallax full">
    
        {% include '../includes/main_banner.html' %}
    

    <div class="info">
        <div>
            <div class="container">
                
                
                
                    
    <div class="youplay-login">
        <div class="youplay-form text-center">
            {% if validlink %}

             <h3>Redefinir Senha</h3>

              <p>Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
                <div class="youplay-form text-left">
                    {% for field in form %}
                        {{field.help_text}}
                    {% endfor %}
                </div>

              <form method="POST">{% csrf_token %}
                  <p>Nova Senha:</p>
                  <div class="youplay-input">
                  {{form.new_password1}}
                  </div>
                  <p>Confirmar Nova Senha:</p>
                  <div class="youplay-input">
                     {{form.new_password2}}
                      <span class="helptext"></span>
                  </div>
                  <button class="btn btn-default db" type="submit" >Reconfigurar Senha</button>
              </form>
            {% else %}
            <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

            {% endif %}

        </div>
    </div>

                
                
            </div>
        </div>
    </div>
</section>
<!-- /Banner -->

        

    </div>

{% endblock content %}